<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
<!--
============================================
; Title: Exercise 3.2 - Logging/EJS Views
; File Name: index.ejs
; Author: Professor Krasso
; Date: 23 January 2022
; Modified By: Seth Kerrey
; Description: 
;   EJS views display page for kerrey-exercise3.2.js
; Resources:
;   Code was provided by Prof Krasso in WEB 340/week-3/exercise3.2
;   Bootstrap CDN
===========================================
-->         
        <title>Logging</title>

        <!-- Bootstrap CDN -->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">

    </head>
    <body>
        <nav class="navbar navbar-expand-sm bg-dark navbar-dark">
            <ul class="navbar-nav">
                <li class="nav-item active">
                    <a href="#" class="nav-link">Home</a>
                </li>
                <li class="nav-item">
                    <a href="#" class="nav-link">About</a>
                </li>
                <li class="nav-item">
                    <a href="#" class="nav-link">Contact Us</a>
                </li>
            </ul>
        </nav>
        <div role="main" class="container">
            <br><br>
            <h2><%= message %></h2>
        </div>
    </body>
</html>
