<!--
============================================
; Title: Assignment 5.4 - EMS (Milestone 1)
; File Name: footer.ejs
; Author: Professor Krasso
; Date: 13 February 2022
; Modified By: Seth Kerrey
; Description:
;   Footer - EJS views page for node app.
; Resources:
;   Code was provided by Prof Krasso in WEB 340/week-5/assignment5.4
========================
-->


<footer class="fixed-bottom text-center font-italic">
    <hr>
    <p>© Copyright 2022</p>
    <p>All rights reserved. Created by <span><a href="mailto:skerrey@my365.bellevue.edu">Seth Kerrey</a></span> with the help of Professor Krasso and <span><a href="https://www.bellevue.edu/">Bellevue University</a></span></p>
</footer>