<!--
============================================
; Title: Assignment 5.4 - EMS (Milestone 1)
; File Name: header.ejs
; Author: Professor Krasso
; Date: 13 February 2022
; Modified By: Seth Kerrey
; Description:
;   Header - EJS views page for node app.
; Resources:
;   Code was provided by Prof Krasso in WEB 340/week-5/assignment5.4
===========================================
-->         

<head>
    <meta charset="UTF-8">
    <viewport content="width=device-width, initial-scale=1, shrink-to-fit=no">
     <title><%= title %></title>
   
    <!-- Bootstrap CDN -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">

</head>