<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
<!--
============================================
; Title: Assignment 5.4 - EMS (Milestone 1)
; File Name: index.ejs
; Author: Professor Krasso
; Date: 13 February 2022
; Modified By: Seth Kerrey
; Description:
;   EJS views page for node app.
; Resources:
;   Code was provided by Prof Krasso in WEB 340/week-5/assignment5.4
;   Bootstrap CDN
===========================================
-->         
        <title>Exercise 5.2 -If...Else...Render</title>

        <!-- Bootstrap CDN -->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">

    </head>
    <body>
        <nav class="navbar navbar-expand-sm bg-dark navbar-dark">
            <ul class="navbar-nav">
                <li class="nav-item active">
                    <a href="#" class="nav-link">Home</a>
                </li>
                <li class="nav-item">
                    <a href="#" class="nav-link">About</a>
                </li>
                <li class="nav-item">
                    <a href="#" class="nav-link">Contact Us</a>
                </li>
            </ul>
        </nav>
        <div role="main" class="container">
           

        </div>
    </body>
</html>
