<!--
============================================
; Title: Assignment 5.4 - EMS (Milestone 1)
; File Name: navbar.ejs
; Author: Professor Krasso
; Date: 13 February 2022
; Modified By: Seth Kerrey
; Description:
;   Views - EJS views page for node app.
; Resources:

========================
-->

<!-- 

view.ejs
Read-only page with the selected employee’s details -->

<!DOCTYPE html>
<html lang="en">
    <%- include("header") %> <!-- header.ejs -->
    <body>
        <%- include("navbar") %> <!-- navbar.ejs -->
           
        <h1 class="text-center mt-5 pt-5">Welcome to the Read-Only Page!<br>With Selected Employee's Details.</h1>
        <h4 class="text-center font-italic">(view.ejs)</h4>

        <div class="d-flex justify-content-center pt-3 pb-5">
            <div class="border pb-5" style="width:60%;height:400px;">
            
                

            </div>
        </div>
        
        <div class="text-center">
            <a class="btn btn-secondary" href="/" role="button">Return</a>
        </div>

        <%- include("footer") %> <!-- footer.ejs -->

        <%- include("scripts") %> <!-- scripts.ejs -->
    </body>
</html>
