<!--
============================================
; Title: Assignment 3.4 - Putting it all together
; File Name: footer.ejs
; Author: Professor Krasso
; Date: 23 January 2022
; Modified By: Seth Kerrey
; Description: 
;   EJS views display page for kerrey-assignment3.4.js
; Resources:
;   Code was provided by Prof Krasso in WEB 340/week-3/assignment3.4
;   Bootstrap CDN
;   EJS Includes
;       https://github.com/mde/ejs#includes
===========================================
-->         
<%- include("header") %>
<div role="main" class="container">
    <br><br>
    <h2>Welcome to the <%= message %>!</h2>
</div>
<%- include("footer") %>